:root {
  --background: #0b0b0f;
}

* {
  box-sizing: border-box;
}

body {
  background-color: var(--background);
  color: White;
  display: flex;
  flex-direction: column;
  font-family: sans-serif;
  height: 97vh;
  text-align: center;
}

.title {
  font-size: 3rem;
  font-weight: bold;
}

.game > div > div {
  font-size: 2rem;
  margin-top: 20px;
}

.title, .footer, #winner {
  flex-grow: 0;
  margin: 15px;
}

.game, .player, .computer {
  flex-grow: 1;
}

.player, .game, .options, .computer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 20px;
}

div div.options, .computer > .image {
  margin-top: auto;
  margin-bottom: auto;
}

.player, .computer {
  flex-direction: column;
  height: 100%;
  max-width: 50%;
}

.image {
  flex: 0 1 200px;
  min-height: 200px;
  border: White solid 5px;
  border-radius: 35px;
  height: auto;
  aspect-ratio: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.player .image {
  cursor: pointer;
}

img {
  max-width: 100px;
  flex-shrink: 1;
  aspect-ratio: initial;
}

.options {
  flex-shrink: 1;
}

.divisor {
  border: White solid 5px;
  border-radius: 35px;
  min-height: 90%;
}

.footer {
  text-align: center;
}

a {
  color: #999;
  font-style: italic;
}

#winner {
  font-size: 2rem;
  min-height: 2.75rem;
}

#score {
  font-size: 1.75rem;
  min-height: 2.5rem;
}
